/* reversi.css */
#game-board {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 816px;
  height: 816px;
}

#score-board {
  position: relative;
  border: 1px solid black;
  width: 816px;
  height: 61px;
  background-color: darkgreen;
}

.turn-text {
  position: absolute;
  text-align: center;
  width: 100%;
  font: arial;
  font-size: 30px;
}

.score-b {
  position: absolute;
  text-align: left;
  top: 30px;
  left: 5px;
  width: 100%;
  font: arial;
  font-size: 25px;
}

.score-w {
  position: absolute;
  text-align: right;
  top: 30px;
  right: 5px;
  width: 100%;
  font: arial;
  font-size: 25px;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: forestgreen;
}

.discs {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50%;
  /*box-shadow: 8px 8px 8px gray;*/
}

.discs-w {
  background-color: ivory;
}

.discs-b {
  background-color: black;
}

.highlight-b {
  background-color: orange;
}

.highlight-w {
  background-color: yellow;
}
